<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Work Stocks - Innovative & Modern Job Board Template</title>

    <!-- All Plugins Css -->
    <link href="/static/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color -->
    <link href="/static/assets/css/skin/default.css" rel="stylesheet">
</head>

<body class="green-skin">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="Loader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->
    <div class="header header-light">
        <div class="container-fluid">
            <nav id="navigation" class="navigation navigation-landscape">
                <div class="nav-header">
                    <a class="nav-brand" href="#">
                        <img src="/static/assets/img/logo.png" class="logo" alt=""/>
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                <div class="nav-menus-wrapper" style="transition-property: none;">
                               <ul class="nav-menu">
                            <li ><a href="/index/">Home<span class="submenu-indicator"></span></a>
                            </li>
                            {% if request.session.types == '0' %}
                                    <li ><a href="/find_job/">Search job<span class="submenu-indicator"></span></a>
                                    </li>
                                    <li ><a href="/join_status_list/">Job Status<span
                                                class="submenu-indicator"></span></a>
                                    </li>
                                    <li ><a href="/personal/">Candidate Dashboard</a></li>
                                    <li > <a href="/post_list/">Chat List</a></li>
                                    <li ><a href="/add_post/">Chat New</a></li>
                            {% endif %}
                            {% if request.session.types == '1' %}
                                    <li class="active" class="active"><a href="/e_info/">Employer Dashboard</a></li>
                            {% endif %}
                            {% if request.session.types == '2' %}
                                    <li><a href="/admin_show_account_stu/">Students Page</a></li>
                                    <li><a href="/admin_show_account_e/">Employers Page</a></li>
                            {% endif %}
                        </ul>

                    <ul class="nav-menu nav-menu-social align-to-right">
                        {% if request.session.username %}
                            <li>
                                <a href="/login/">
                                    <i class="ti-user mr-1"></i><span
                                        class="dn-lg">{{ request.session.username }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/login/" data-toggle="modal" data-target="#login">
                                    <i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->

    <!-- ============================ Hero Banner  Start================================== -->
    <div class="page-title-wrap">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="pt-caption">
                    <h1>Hello! {{ request.session.username }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- ============================ Hero Banner End ================================== -->


    <!-- ============== Candidate Dashboard ====================== -->
    <section class="tr-single-detail gray-bg" style="background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);">
        <div class="container">
            <div class="row">

                <!-- Sidebar Start -->
                <div class="col-md-12 col-sm-12">
                    <div class="dashboard-wrap" style="background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);">

                        <div class="dashboard-thumb">
                            <div class="dashboard-th-pic">
                                <img src="/static/assets/img/asana.png" class="img-fluid mx-auto img-circle" alt=""/>
                            </div>
                            <h4 class="mb-1">{{ company }}</h4>
                            <span class="text-success">Project Management</span>
                        </div>

                        <!-- Nav tabs -->
                        <ul class="nav dashboard-verticle-nav">
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link active" data-toggle="tab" href="#c-profile"><i class="ti-user"></i>Company
                                    Profile</a>
                            </li>
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link" data-toggle="tab" href="#manage-jobs"><i class="ti-file"></i>Manage
                                    jobs</a>
                            </li>
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link" data-toggle="tab" href="#shortlisted"><i class="lni-briefcase"></i>Shortlisted</a>
                            </li>
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link" data-toggle="tab" href="#post-new-job"><i class="ti-plus"></i>Post
                                    New job</a>
                            </li>
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link" data-toggle="tab" href="#change-password"><i class="lni-lock"></i>Change
                                    Password</a>
                            </li>
                            <li class="nav-item col-md-4 col-sm-6">
                                <a class="nav-link" href="/login/"><i class="lni-exit"></i>Log Out</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- /col-md-4 -->

                <div class="col-md-12 col-sm-12">
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- My Profile -->

                        <div class="tab-pane active container" id="c-profile">
                            <form action="/e_info/" method="post" enctype="multipart/form-data">
                                <!-- Company Information -->
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-home"></i> Company Information</h4>
                                    </div>

                                    <div class="tr-single-body">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Company Name</label>
                                                    <input name='company' class="form-control" type="text"
                                                           value="{{ company }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Company Tags</label>
                                                    <input name='tags' class="form-control" type="text"
                                                           value="{{ tags }}">
                                                </div>
                                            </div>


                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <h4>Info</h4>
                                                    <textarea style="width: 100%" name="info" id="" cols="60"
                                                              rows="10">{{ info }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /Basic Info -->

                                <!-- Contact Info -->
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="ti-headphone"></i> Contact Info</h4>
                                    </div>

                                    <div class="tr-single-body">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">Phone Number</label>
                                                    <input name='phone' class="form-control" type="text"
                                                           value="{{ phone }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">Email</label>
                                                    <input class="form-control" name='email' type="text"
                                                           value="{{ email }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">Website</label>
                                                    <input name="website" class="form-control" type="text"
                                                           value="{{ website }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">Country</label>
                                                    <input name="country" class="form-control" type="text"
                                                           value="{{ country }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">City</label>
                                                    <input name='city' class="form-control" type="text"
                                                           value="{{ city }}">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label class="social-nfo">Complete Address</label>
                                                    <input name="address" class="form-control" type="text"
                                                           value="{{ address }}">
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <!-- /Contact Info -->


                                <button type="submit" class="btn btn-info btn-md full-width">Save & Update<i
                                        class="ml-2 ti-arrow-right"></i></button>
                            </form>
                        </div>

                        <!-- Manage jobs -->
                        <div class="tab-pane" id="manage-jobs">

                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="lni-file"></i> Manage jobs</h4>
                                </div>

                                <div class="tr-single-body">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <!-- Single Manage job -->
                                            {% for job in jobs %}
                                                <div class="manage-list">

                                                    <div class="mg-list-wrap">
                                                        <div class="mg-list-thumb">
                                                            <img src="/static/assets/img/adwords.png" class="mx-auto"
                                                                 alt=""/>
                                                        </div>
                                                        <div class="mg-list-caption">
                                                            <a href="/job_detail/?job_id={{ job.id }}"><h4
                                                                    class="mg-title">{{ job.job_title }}</h4></a>
                                                        </div>
                                                    </div>

                                                    <div class="mg-action">
                                                        <div class="btn-group ml-2">
                                                            <a href="/job_delete/?job_id={{ job.id }}"
                                                               class="mg-delete"><i class="ti-trash"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /Manage jobs -->

                            <a href="#" class="btn btn-info btn-md full-width">Save & Update<i
                                    class="ml-2 ti-arrow-right"></i></a>

                        </div>
                        <!-- Shortlisted -->
                        <div class="tab-pane" id="shortlisted">

                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="ti-briefcase"></i> Shortlisted</h4>
                                </div>

                                <div class="tr-single-body">
                                    <div class="row">

                                        <div class="col-md-12">
                                            {% for l in shortlisted %}
                                                <!-- Single Resume -->
                                                <div class="manage-list">

                                                    <div class="mg-list-wrap">
                                                        <div class="mg-list-thumb">
                                                            <img src="/static/assets/img/user-3.jpg" class="mx-auto"
                                                                 alt=""/>
                                                        </div>
                                                        <div class="mg-list-caption">
                                                            <h4 class="mg-title">{{ l.full_name }}</h4>
                                                            <span class="mg-subtitle">{{ l.job_title }}</span>
                                                            <span>{{ l.created_at }} <span
                                                                    style="background-color: #d11a2d;color: yellow;">{{ l.pass_status }}</span></span>

                                                        </div>
                                                    </div>

                                                    <div class="mg-action">
                                                        <div class="btn-group custom-drop">
                                                            <button type="button" class="btn btn-more"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                <i class="ti-more"></i>
                                                            </button>
                                                            <div class="dropdown-menu pull-right animated flipInX">
                                                                <a href="/job_watting_profile/?user_id={{ l.user_id }}">View
                                                                    Profile</a>
                                                                <a href="/check_pass/?user_id={{ l.user_id }}">Accept</a>
                                                            </div>
                                                        </div>
                                                        <div class="btn-group ml-2">
                                                            <a href="#" class="mg-delete"><i class="ti-trash"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            {% endfor %}

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- Add New jobs -->

                        <div class="tab-pane" id="post-new-job">

                            <!-- Add New jobs -->
                            <div class="tr-single-box">
                                <div class="tr-single-header">
                                    <h4><i class="ti-plus"></i> Post A New jobs</h4>
                                </div>
                                <form action="/post_job/" method="post" enctype="multipart/form-data">
                                    <div class="tr-single-body">

                                            <div class="row">

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Title</label>
                                                        <input name='job_title' class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Tags</label>
                                                        <input name='job_tags' class="form-control" type="text">
                                                    </div>
                                                </div>


                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Type</label>
                                                        <select name="job_type" id="jb-type" class="form-control">
                                                            <option value="">&nbsp;</option>
                                                            <option value="Full Time">Full Time</option>
                                                            <option value="Part Time">Part Time</option>
                                                            <option value="Freelancing">Freelancing</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Overview</label>
                                                        <textarea name="job_overview" class="form-control" cols="30"
                                                                  rows="10"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Skills_and_qualifications</label>
                                                        <textarea name="skills_and_qualifications" class="form-control"
                                                                  cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Job Education</label>
                                                        <textarea name="education" class="form-control" cols="30"
                                                                  rows="10"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Offerd Salary Min</label>
                                                        <input name='work_money_min' class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Offerd Salary Max</label>
                                                        <input name='work_money_max' class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>gender</label>
                                                        <select name="experience" id="experience" class="form-control">
                                                            <option value="">&nbsp;</option>
                                                            <option value="Entry Level">Entry Level</option>
                                                            <option value="Less Then One Year">Less Then One Year
                                                            </option>
                                                            <option value="2 Years">2 Years</option>
                                                            <option value="3 Years">3 Years</option>
                                                            <option value="4 Years">4 Years</option>
                                                            <option value="5+ Years">5+ Years</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        <select name="gender" id="experience" class="form-control">
                                                            <option value="">&nbsp;</option>
                                                            <option value="male">male</option>
                                                            <option value="famale">famale</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Industry</label>
                                                        <select name="industry" id="industry" class="form-control">
                                                            <option value="">&nbsp;</option>
                                                            <option value="Development">Development</option>
                                                            <option value="Finance">Finance</option>
                                                            <option value="Banking">Banking</option>
                                                            <option value="SEO/SMO">SEO/SMO</option>
                                                            <option value="Designing">Designing</option>
                                                            <option value="Management">Management</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Qualification</label>
                                                        <select name='qualification' id="qualification"
                                                                class="form-control">
                                                            <option value="">&nbsp;</option>
                                                            <option value="Certificate">Certificate</option>
                                                            <option value="Diploma">Diploma</option>
                                                            <option value="Bachelor Degree">Bachelor Degree</option>
                                                            <option value="Master Degree">Master Degree</option>
                                                            <option value="Post Graduate">Post Graduate</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <button style='z-index:999999;' type="submit" class="btn btn-info btn-md full-width">Save<i
                                            class="ml-2 ti-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- /CV -->


                        </div>

                        <!-- change-password -->
                        <div class="tab-pane" id="change-password">
                            <form action="/change_password/" method="post" enctype="multipart/form-data">
                                <div class="tr-single-box">
                                    <div class="tr-single-header">
                                        <h4><i class="lni-lock"></i> Change Password</h4>
                                    </div>

                                    <div class="tr-single-body">
                                        <div class="form-group">
                                            <label>Old Password</label>
                                            <input name="password" class="form-control" type="password">
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input name="new_pwd" class="form-control" type="password">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-info btn-md full-width">Change Update<i
                                        class="ml-2 ti-arrow-right"></i></button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ============== Candidate Dashboard ====================== -->

    <!-- ============================ Newsletter Start ================================== -->
    <section class="alert-wrap pt-5 pb-5" style="background: #d11a2d url(/static/assets/img/bg2.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="jobalert-sec">
                        <h3 class="mb-1 text-light">Get a suitable job</h3>
                        <p class="text-light">Dedicated to serving you</p>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- ============================ Newsletter Start ================================== -->

    <!-- ============================ Footer Start ================================== -->
    <footer class="dark-footer skin-dark-footer">
   

        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6">
                        <p class="mb-0">© 2020 Work Stocks. Designd By PixelExperts All Rights Reserved</p>
                    </div>

                    <div class="col-lg-6 col-md-6 text-right">
                        <ul class="footer-bottom-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ============================ Footer End ================================== -->

    <!-- Log In Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
            <div class="modal-content" id="registermodal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="ti-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-header-title">SignIn</h4>
                    <div class="social-login">
                        <ul>
                            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a>
                            </li>
                            <li><a href="#" class="btn connect-gplus"><i class="ti-google"></i>Login with Gmail</a></li>
                        </ul>
                    </div>

                    <div class="devide-wrap"><span>OR</span></div>

                    <div class="login-form">
                        <form>

                            <div class="form-group">
                                <label>User Name</label>
                                <div class="input-with-gray">
                                    <input type="text" class="form-control" placeholder="Username">
                                    <i class="ti-user theme-cl"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-with-gray">
                                    <input type="password" class="form-control" placeholder="*******">
                                    <i class="ti-unlock theme-cl"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-md full-width pop-login">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mf-link"><i class="ti-user"></i>Haven't An Account?<a href="javascript:void(0)"
                                                                                      data-toggle="modal"
                                                                                      data-target="#signup"
                                                                                      data-dismiss="modal"> Sign Up</a>
                    </div>
                    <div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
            <div class="modal-content" id="sign-up">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="ti-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-header-title">Sign Up</h4>
                    <div class="social-login">
                        <ul>
                            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a>
                            </li>
                            <li><a href="#" class="btn connect-gplus"><i class="ti-google"></i>Login with Gmail</a></li>
                        </ul>
                    </div>

                    <div class="devide-wrap"><span>OR</span></div>

                    <div class="login-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <div class="input-with-gray">
                                            <input type="text" class="form-control" placeholder="Your Name">
                                            <i class="ti-user theme-cl"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-with-gray">
                                            <input type="email" class="form-control" placeholder="Email ID">
                                            <i class="ti-user theme-cl"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <div class="input-with-gray">
                                            <input type="text" class="form-control" placeholder="Username">
                                            <i class="ti-user theme-cl"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-with-gray">
                                            <input type="password" class="form-control" placeholder="*******">
                                            <i class="ti-unlock theme-cl"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-md full-width pop-login">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mf-link"><a><i class="ti-user"></i>Already Have Account? Sign In</a></div>
                    <div class="mf-forget"><a href="#"><i class="ti-help"></i>Need Help</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/select2.min.js"></script>
<script src="/static/assets/js/aos.js"></script>
<script src="/static/assets/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<script src="/static/assets/js/slick.js"></script>
<script src="/static/assets/js/bootstrap-datepicker.js"></script>
<script src="/static/assets/js/isotope.min.js"></script>
<script src="/static/assets/js/summernote.js"></script>
<script src="/static/assets/js/jQuery.style.switcher.js"></script>

<script src="/static/assets/js/counterup.min.js"></script>
<script src="/static/assets/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
    });
</script>

</body>
</html>
